a{
    text-decoration: none;
    color: white;
    background-color: black;
    margin: 5px;
    
  }
  *
 {
  
   margin: 0%;
   padding: 0%;
   background-color:goldenrod;
 }
nav{
  text-align: center;
   background: black;
   padding: 25px;
 }
.a3 h1{
    font-size: 75px;
}
.a3 p{
   text-align: justify;
}

    
#r1{
    color: darkgreen;
}
#r2{
    color: brown;
}
.a3{

    height: 500px;
    width: 500px;

}
.a2{
    display: flex;
    padding-left: 100px;
    padding-top: 100px;
}
.a5{
    
    font-size: larger;
    padding-left: 150px;
    padding-top: 250px;
}
.a5 button{
    background-color: brown;
    height: 75px;
    width: 200px;
}