
a{
   text-decoration: none;
   color: white;
   background-color: black;
   margin: 5px;
   
 }

.main1{
   text-align: center;
   background-color: black;
   padding: 50px;
}
#main2 h1{
  padding-left: 150px;
  padding-top:px;
}
#main2{
  padding-top: 100px;
}
#main3{
  padding-top: 25px;
  padding-left: 150px;
  size: 100px;
}
#b1{
  color:maroon;
  height: 55px;
  width: 120px;
  font-size:larger;
}
*
 {
  
   margin: 0%;
   padding: 0%;
   background-color:goldenrod;
 }
nav{
  text-align: center;
   background: black;
   padding: 25px;
 }

#s3{
  font-size: 75px;
}
#s4{
  font-size: 75px;
}
#s5{
  font-size: 75px;
  color: brown;
}
